.nav-link{
    font-size: 24px;
}
.icon{
    display: block;
    color: white; 
    padding-left: 20px;
}

.header{
    width: 100%; 
    height: auto;
}
.bglavander{
    background-color: lavender; 
    width: 100%;
    height: auto;
    padding: 0px 20px;
}
.lavanderflex{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}

p{
    padding-top: 30px;
    font-size:18px;
}
h1,h2,h3{
    padding-top: 30px;
}
.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.character{
    border: none;
    min-height: 250px;
    width: auto;

}
.character-icon{
    font-size: 70px;
    color: #134880;
    padding-top: 30px;
    padding-bottom: 10px;
}

.bgblue{
    border:none; 
    background:#134880; 
    height:auto;
    width: 100%;
}
.blueflex{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}
.images{
    max-width:60%;
    height: auto; 
    padding: 40px 0px;
    display: block;
    margin: auto;
}

blockquote{
    color:white; 
    font-size: 20px; 
    font-style: italic;
}
footer{
    width: 100%;
    height: auto;
    display: block; 
    margin: auto;
}

.slider{
    height: 400px;
    width: 60%;
}
.slider-img{
    height: 100%;
    width: auto;
}
