.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.logo{
    display: block;
    padding-left: 20px;
}
#navbarNav{
    padding-right: 20px;
    justify-content: flex-end;
}
.nav-link{
    font-size: 24px;
}
.icon{
    color: white; 
    padding-left: 20px;
}

.header{
    width: 100%; 
    height: auto;
}
.bglavander{
    background-color: lavender; 
    width: 100%;
    height: auto;
    padding: 0px 20px;
}

p{
    padding-top: 30px;
    font-size:18px;
}
h1,h2,h3{
    padding-top: 30px;
}
.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.character{
    border: none;
    min-height: 250px;
    width: auto;

}
.character-icon{
    font-size: 70px;
    color: #134880;
    padding-top: 30px;
    padding-bottom: 10px;
}

.bgblue{
    border:none; 
    background:#134880; 
    height:auto;
    width: 100%;
}

.images{
    max-width:60%;
    height: auto; 
    padding: 40px 0px;
    display: block;
    margin: auto;
}

blockquote{
    color:white; 
    font-size: 20px; 
    font-style: italic;
}
footer{
    width: 100%;
    height: auto;
    display: block; 
    margin: auto;
}

.slide{
    height: 350px;
    width: 50%;
    display: block;
    margin: auto;
}
.slider-img{
    height: 100%;
    width: auto;
}

@media (min-width: 768px) and (max-width: 991.98px){
    .slide{
        height: auto;
        width: auto;
        display: block;
        margin: auto;
    }
    .slider-img{
        object-fit: contain;
        max-height: 600px;
    }
  }

  @media only screen and (max-width:767.98px) {
    .slide{
        height: auto;
        width: auto;
        display: block;
        margin: auto;
    }
  }
